<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
    <title>La Cooper | P&aacute;gina no encontrada</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/admin/base.css" />
    <!-- Carga de estilo para el Internet Explorer 6 -->
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="/media/css/ie6.css" media="screen" />
    <![endif]-->
</head>
<body>
	<style>
		body {
			padding: 10px;
			background: #EEE;
		}
		#cabecera {
			background: #FFF;
		}
		#cuerpo {
			background: #FFF;
			padding: 10px 10px 30px 10px;
		}
	</style>
    <div id="cabecera">
        <div id="logo">
           <img src="{{ MEDIA_URL }}img/recursos/logo.png"/>
        </div>
        <hr />
    </div>
    <div id="cuerpo">
    	<h1>P&aacute;gina no encontrada</h1>
        <p>La p&aacute;gina que Ud. busca no pudo encontrarse, revise que la direcci&oacute;n web que Ud. busca sea correcta o dirijase a alguno de estos enlaces:</p>
        <ul>
        	<li>P&aacute;gina de inicio: <a href="http://www.lacooper.com">http://www.lacooper.com</a></li>
        </ul>
    </div>
</body>