<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
    <title>La Cooper | Error en el Servidor</title>
    <link rel="stylesheet" type="text/css" href="media/css/admin/base.css" />
    <!-- Carga de estilo para el Internet Explorer 6 -->
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="/media/css/ie6.css" media="screen" />
    <![endif]-->
</head>
<body>
	<style>
		body {
			padding: 10px;
			background: #EEE;
		}
		#cabecera {
			background: #FFF;
		}
		#cuerpo {
			background: #FFF;
			padding: 10px 10px 30px 10px;
		}
	</style>
    <div id="cabecera">
        <div id="logo">
           <img src="media/img/recursos/logo.png"/>
        </div>
        <hr />
    </div>
    <div id="cuerpo">
    	<h1>Error en el Servidor</h1>
        <p>Ocurri&oacute; un error en el servidor y estamos trabajando para poder resolverlo lo mas antes posible, disculpe las molestias.</p>
        <p>No dude en visitarnos en cualquier otro momento:</p>
        <ul>
        	<li>P&aacute;gina de inicio: <a href="http://www.lacooper.com">http://www.lacooper.com</a></li>
        </ul>
    </div>
</body>