{% extends 'base.html' %}
{% load form_display %}

{% block body %}
    <div class="izq">
        <h1 class="formulario">Recuperar contraseña</h1>
        <h2>Un e-mail le será enviado con su nueva contraseña</h2>
        <form method='post' action=''>
            <ul>
                {% display_as_ul form %}
                <li class="help">
                    Los campos marcados con * son requeridos
                </li>
                <li>
                    <input style=" width: 140px; text-align: center; color: gray;" type="submit" value="Recibir confirmación" />
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
